body {
  background: url(light.jpg);
  background-size: 100%;
}
#app {
  width: 600px;
  height: 500px;
  background: url(light.jpg);
  background-size: 1600px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(27, 21, 21, 0.856);
  margin-left: 30px;
}
#app .main {
  width: 700px;
  height: 50px;
  margin: auto;
  align-items: center;
}
#app .com {
  width: 400px;
  height: 400px;
  margin: auto;
  align-items: center;
}
